/* ------------------

CSS TABLE OF CONTENTS

# GLOBAL CSS   
    # BODY
    # TYPOGRAPHY
    # LINKS

-------------------*/
/* BODY */
body {
    font-family: 'canada-type-gibson', Helvetica, arial, sans-serif;
    font-size: 100%;
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.85); }

/* DEMO 
.circle {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%; */
}