/* BODY */
body {
  font-family: "interstate-condensed", Helvetica, arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 100%;
  line-height: 1.4;
  color: black; }

h1 {
  font-family: "essonnes-display", georgia, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3em;
  margin-left: .5em; }

h2 {
  font-family: "essonnes-display", georgia, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.25em; }

h3 {
  font-family: "interstate-condensed", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 2em; }

h4 {
  font-family: "essonnes-text", sans-serif;
  font-weight: 400;
  font-style: italic; }

/* LINKS */
a {
  color: black;
  text-decoration: none; }

a:hover {
  font-style: italic; }

a:active {
  font-style: italic; }

.home {
  overflow: hidden;
  width: 100%; }
  .home h1 {
    margin: 0;
    line-height: 1;
    font-size: 1em; }
  .home .firstname {
    font-family: "essonnes-display", georgia, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3em;
    margin-left: .5em;
    color: #A56740;
    display: block;
    font-size: 21vw;
    margin-left: 8.7vw;
    margin-bottom: -5.5vw;
    text-transform: lowercase; }
  .home .lastname {
    font-family: "essonnes-display", georgia, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.25em;
    color: #A56740;
    display: block;
    font-size: 19.3vw;
    margin-left: -1.2vw;
    text-transform: uppercase; }

.about h4 {
  color: black; }

.about .abouttitle {
  font-family: "interstate-condensed", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 2em;
  color: #8DAAE8;
  display: block;
  font-size: 30vw; }

.about p {
  padding: 4%; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body, button {
  font-family: "interstate-condensed", sans-serif; }

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 2%; }

button.filter {
  margin: 0px; }

button {
  font-family: "interstate-condensed", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 3px;
  background-color: transparent;
  color: #000; }

button.active {
  font-style: bold; }

img {
  max-width: 100%;
  height: auto; }

a {
  cursor: pointer; }

.about-body {
  background-image: url("../img/JadeBackgroundTogether.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  height: 100%; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

.logo {
  position: absolute;
  left: 30px;
  top: 10px;
  margin: 0px 15px 15px 0px; }

.site-nav a {
  display: block;
  padding: 1em; }

.site-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  float: right; }

.gallery-subnav a {
  display: block;
  padding: 1em; }

.gallery-subnav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  float: center; }

.grid-container {
  padding: 2% 2% 2%;
  text-align: justify;
  font-size: 0.1px;
  -webkit-backface-visibiilty: hidden; }

.abouttitle {
  position: absolute;
  bottom: 0; }

#portfolio {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  #portfolio li {
    list-style: none;
    width: 23%;
    margin: 1%; }
  #portfolio a, #portfolio img {
    display: block; }
  #portfolio a {
    height: 100%;
    overflow: hidden;
    margin-bottom: -80%; }
  #portfolio img {
    -o-object-fit: fill;
    object-fit: fill; }

.site-nav a {
  display: block;
  padding: 1em; }

.site-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  float: right; }

.gallery-subnav a {
  display: block;
  padding: 1em; }

.gallery-subnav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  float: center; }
