// VARIABLES
$nav-fontfamily: 'interstate-condensed', Helvetica, arial, sans-serif;
$brand-fontfamily: 'essonnes-display', georgia, serif;
$heading-fontfamily: 'essonnes-text', sans-serif;
$arttitle-fontfamily: 'interstate-condensed', sans-serif;

// COLORS
$color-text-body: rgb(0, 0, 0);
$color-nav: rgb(0, 0, 0);
$color-homebrand: #A56740;  

// IMPORT PARTIALS
@import "partials/typography";
@import "partials/buttons";
@import "partials/media";
@import "partials/layout";
@import "partials/grid";
@import "partials/structure";


.about-body {
    background-image: url('../img/JadeBackgroundTogether.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: 100%;
}