*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, button {
    font-family: $arttitle-fontfamily;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2%;
}

button.filter {
    margin: 0px;
}

button {
    font-family: $arttitle-fontfamily;
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 3px;
    background-color: transparent;
    color: #000
}

button.active {
    font-style: bold;
}

