*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, button {
    font-family: $arttitle-fontfamily;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2%;
}

button.filter {
    margin: 0px;
}

button {
    font-family: $arttitle-fontfamily;
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 3px;
    background-color: transparent;
    color: #000
    cursor: pointer;
}

button.active {
    font-style: bold;
}

/* Hover Styling */
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000;
  }
  .mix:hover .overlay{
    opacity: .75;
  }
  
  .hover-text{
    color: #fff;
    width: 100%;
    font-family: 'adobe-garamond-pro';
    font-style: italic;
    font-weight: 600;
    text-decoration: underline;
    font-size: 24px;
    position: absolute;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }