* {box-sizing: border-box;}
body {
    margin: 0;
}

.site-nav a {
    display: block;
    padding: 1em; }
  
.site-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    float: right; }
  
.gallery-subnav a {
    display: block;
    padding: 1em; }
  
.gallery-subnav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    float: center; }
  
.grid-container {
    padding: 2% 2% 2%;
    text-align: justify;
    font-size: 0.1px;
    -webkit-backface-visibiilty: hidden;
  }
