* {box-sizing: border-box;}
body {
    margin: 0;
}

.site-nav a {
    display: block;
    padding: 1em; }
  
.site-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    float: right; }
  
.gallery-subnav a {
    display: block;
    padding: 1em; }
  
.gallery-subnav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    float: center; }
  
.grid-container {
    padding: 2% 2% 2%;
    text-align: justify;
    font-size: 0.1px;
    -webkit-backface-visibiilty: hidden;
  }

  .grid-container:after{
    content: '';
    display: inline-block;
    width: 48%;
  }
  
  .grid-container .mix,
  .grid-container .gap{
    display: inline-block;
    width: 49%;
  }
  
  .grid-container .mix{
    position: relative;
  }
  
  .grid-container .mix{
    text-align: left;
    margin-bottom: 0%;
    display: none;
  }
  
  .grid-container .mix:after{
    content: attr(data-myorder);
    color: white;
    font-size: 16px;
    display: none;
    vertical-align: top;
  /*  padding: 4% 6%; */
    font-weight: 700;
  }
  
  .grid-container .mix:before{
    content: '';
    display: none;
   /* padding-top: 60%; */
  }
  