img {
  max-width: 100%;
  height: auto;
  // border: 1px transparent #ddd;
  // border-radius: 4px;
  // padding: 5px;
  // width: 150px;
}

a{
  cursor: pointer;
}

.about-body {
  background-image: url('../img/JadeBackgroundTogether.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  height: 100%;
}