img {
    max-width: 100%;
    height: auto;
    border: 1px transparent #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

a{
    cursor: pointer;
  }
  
  img.image{
    display: block;
    width: 100%;
    height: auto;
  }
  
.background {
    border: 1px transparent #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

