img {
  max-width: 100%;
  height: auto;
  // border: 1px transparent #ddd;
  // border-radius: 4px;
  // padding: 5px;
  // width: 150px;
}

a{
  cursor: pointer;
}

.background img{
  border: 1px transparent #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  background-size: 200px 100px;
}

.mix img {

}